header{
    background-color: #0F0A79;
    display: flex;
    height: 160px;
    align-items: center;
    justify-content: center;

/*
grey:#272727
blue:#0F0A79*/
}

h1{
    color:white;    
}

img{
    width: 160px;
    height: 110px;
    /*border-radius: 60% 30% 60% 30%;
    border-width: 3px;
    border-style: solid;
    border-color: white;*/
}
main{
    color: #272727;
    font-size: 20px;
}
#controls {
    display: grid;
    grid-template-rows: 2;
    color: #272727;
    font-size: 24px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
}  

label, input{
    grid-row: 1;
}

label{
    padding-right: 6px;
}

input{
    height: 24px;
    width: 300px;
    border-width: 4px;
}

#lookup{
    grid-row: 2;
    height: 24px;
    
    /*width: 150px;*/

}

#result{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 4px;
    border-color: #272727;
    padding: 20px;
}